<!DOCTYPE html>

<%- include('./head.ejs')%>

<body>
    <%- include('./nav.ejs')%>
    <div id="op-container">
        <a href="/home"><div class="option" id="pnemonia"><br><br><br><br><br><br><br>Pnemonia detection</div></a>
        <a href="/home1"><div class="option" id="sentiment"><br><br><br><br><br><br><br>sentiment detection</div></a>
        <a href="/home2"><div class="option" id="clickbaith"><br><br><br><br><br><br><br>clickbait detection</div></a>
    </div>
    
</body>

</html>