<html>
<% if(log==0) {%>
    <%- include('./result.ejs') %>
        <% } else {%>


            <% if(resu==-1) {%>
<!DOCTYPE html>
<html>
<%- include('./head.ejs') %>
<body>
	<div class="loading">
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		Loading..
	</div>
</body>
<script>

    setTimeout(() => {
        console.log("done")
        window.location.reload();
    }, "3000")
</script>
</html>
                <% } else{ %>

                    <%- include('./result.ejs') %>
                        <% } %>

                            <% } %>