<nav>
    <input type = "checkbox" id="check" name="" value="">
    <label for="check"class="checkbtn">
        <i class="fas fa-bars" ></i>
    </label>

    <label class="logo">Web AI</label>
<ul>
    <li><a class="active" href="/index">Home</a></li>
    <li><a href="#">Feedback</a></li>
    <li><a href="#">Deep Learning</a></li>
    <li><a href="#">About</a></li>
    <li><div class="logout"> <a href="/sig=8n">Logout<img
        src="https://image.freepik.com/free-icon/logout_318-10026.jpg" alt="Lamp" width="15"
        height="15"></a></div></li>
  </ul>
</nav>